<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('views')
    ->exclude('emails')
    ->exclude('helpers')
    ->exclude('language')
    ->exclude('modules')
    ->exclude('resources')
    ->in(__DIR__.'/pepiscms')
    ->in(__DIR__.'/pepiscms/modules/*/controllers')
    ->in(__DIR__.'/pepiscms/modules/*/libraries')
    ->in(__DIR__.'/pepiscms/modules/*/models')
    ->name('*Descriptor.php')
    ->in(__DIR__.'/pepiscms/modules/*/');

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR2' => true,
        'array_syntax' => array('syntax' => 'long'),
    ))
    ->setFinder($finder);