{% extends 'base.html.twig' %}

{% block content %}
    <section class="content">
        <h1>{{ document.title }}</h1>
        <p>Current date: {{ current_datetime.format('Y-m-d') }}</p>
    </section>
{% endblock content %}